.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
  margin: 10px 0px;
  padding: 20px 0px;
  border-radius: 40px 0 40px 0;
  width: min-content;
}
.MessageError{
  width: 80%;
  font-size: 10px;
}